beautifulsoup4==4.10.0
bs4==0.0.1
certifi==2021.10.8
charset-normalizer==2.0.7
colorama==0.4.4
heroku==0.1.4
html5lib==1.1
idna==3.2
pyaes==1.6.1
pyasn1==0.4.8
python-dateutil==1.5
requests==2.26.0
rsa==4.7.2
scapy==2.4.5
six==1.16.0
soupsieve==2.2.1
Telethon==1.23.0
urllib3==1.26.7
webencodings==0.5.1
